<div class="header">
    <div class="home-buttons">
        <a href="/">Home</a>
        <a href="/discovery">Discovery</a>
        <a href="/events">Events</a>
        <a href="/rnd">Free Space</a>
        <a href="/about-us">About us</a>
    </div>

    <div class="user-buttons">
        <% if (user && user.username) { %>
            <!-- If user is logged in, display their name + logout -->
            <span>Welcome, <%= user.username %></span>
            <button><a href="/logout">Logout</a></button>
        <% } else { %>
            <!-- Otherwise, show login/register -->
            <button><a href="/login" id="login-button">Log in</a></button>
            <button><a href="/register" id="register-button">Register</a></button>
        <% } %>
    </div>
</div>