$font-size: 17px;
$font-family: 'Roboto', sans-serif;
$font-color: #fff;

/*index html*/

body{
    font-size: $font-size;
    font-family: $font-family;
    color: $font-color;
    margin: 0;
    padding: 0;
    background-color: #1c9437;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px ;

    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.18);

    font-family: $font-family;

    .home-buttons{
        a{
            float: left;
            color: $font-color;
            text-decoration: none;
            font-size: 20px;
            margin-left: 40px;
            transition: 0.3s;

            &:hover{
                color: #f50057;
            }
        }
    }
    .user-buttons{

        button{
            color: $font-color;
            font-size: $font-size;
            margin-left: 10px;
            border: none;
            background: none;
            cursor: pointer;

            &:hover{
                color: #f50057;
            }
        }

        a{
            color: $font-color;
            text-decoration: none;
            font-size: 20px;
            margin-left: 10px;
            transition: 0.3s;

            &:hover{
                color: #f50057;
            }

        }
    }
}


.under-header{

    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: $font-color;
    font-family: $font-family;
    font-size: $font-size;

    a{
        color: $font-color;
        text-decoration: none;
        font-size: 20px;
        border: 1px solid $font-color;
        padding: 10px 20px;
        border-radius: 5px;
        transition: 0.3s;

        &:hover{
            background-color: $font-color;
            color: #392b75;
        }
    }

    button {
        color: $font-color;
        font-size: 20px;
        border: none;
        background: none;
        cursor: pointer;

        margin: 10px 0 0 0;
        &:hover {
            color: #f50057;
        }
    }
}

.main-content{

    position: relative;
    z-index: 1;
    margin-top: -30px;
    border-radius: 30px 30px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50vh;
    font-family: $font-family;
    font-size: $font-size;
    color: black;
    background-color: white;
    padding: 60px;

    .card{

        width: 300px;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.18);


        h1{
            text-align: center;
            margin-bottom: 20px;
        }

        input{
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        button{
            width: 100%;
            padding: 10px;
            border: none;
            background-color: #2fda56;
            color: white;
            border-radius: 5px;
            cursor: pointer;
            transition: 0.3s;

            &:hover{
                background-color: #f50057;
            }
        }

        p{
            margin-top: 20px;
            text-align: center;
        }

    }

}

/*login html*/
.login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: $font-family;
    font-size: $font-size;
    color: black;
    background-color: #ffffff;
    flex-direction: column;
}

.register{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: $font-family;
    font-size: $font-size;
    color: black;
    background-color: #ffffff;
    flex-direction: column;
}

.form{
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.18);

    h1{
        text-align: center;
        margin-bottom: 20px;
    }

    input{
        width: 90%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    button{
        width: 100%;
        padding: 10px;
        border: none;
        background-color: #2fda56;
        color: white;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;

        &:hover{
            background-color: #f50057;
        }
    }

    p{
        margin-top: 20px;
        text-align: center;
    }
}

/*dashboard.html*/

#userBoardList {
    display: flex;
    flex-direction: row;
    gap: 30px;
    overflow-x: auto;
    white-space: nowrap;

    /* WebKit browsers */
    &::-webkit-scrollbar {
        height: 12px;
    }

    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    scrollbar-width: none;
    scrollbar-color: #888 #f1f1f1;

    li {
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.18);
        list-style: none;
        width: 400px;
        max-height: 400px;
        position: relative;
        color: black;
        overflow: hidden;
        margin-left: 20px;
        margin-right: 20px;
        display: inline-block;
        flex-shrink: 0;

        .header-container {
            position: relative;
            height: 200px; // Adjust height as needed
        }

        .header-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px 10px 0 0;
        }

        .profile-image {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            border: 3px solid white;
            position: absolute;
            bottom: -50px;
            left: 20%;
            transform: translateX(-50%);
            background-color: white;
        }
    }

    h2 {
        margin-top: 60px;
    }

}

#userBoardList.active {
    cursor: grabbing;
    user-select: none;
    pointer-events: none;
}

#userBoardList.active * {
    pointer-events: none;
}

.profile-info {  display: flex;  align-items: center;  gap: 10px;  margin-bottom: 10px;}
.label {  width: 100px;  font-weight: bold;  text-align: right;}
.editable-box {  border: 1px solid black;  border-radius: 8px;  padding: 5px;  min-width: 200px;  min-height: 20px;  cursor: pointer;  background-color: rgba(108, 108, 108, 0.5);  color: white;  outline: 1px solid white;}
.editable-box:focus {  background-color: #6c6c6c;}
.editable-box:empty::before {  content: "click to edit...";  color: white;}