/*index html*/
body {
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
  background-color: #1c9437;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.18);
  font-family: "Roboto", sans-serif;
}
.header .home-buttons a {
  float: left;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  margin-left: 40px;
  transition: 0.3s;
}
.header .home-buttons a:hover {
  color: #f50057;
}
.header .user-buttons button {
  color: #fff;
  font-size: 17px;
  margin-left: 10px;
  border: none;
  background: none;
  cursor: pointer;
}
.header .user-buttons button:hover {
  color: #f50057;
}
.header .user-buttons a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  margin-left: 10px;
  transition: 0.3s;
}
.header .user-buttons a:hover {
  color: #f50057;
}

.under-header {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
}
.under-header a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  border: 1px solid #fff;
  padding: 10px 20px;
  border-radius: 5px;
  transition: 0.3s;
}
.under-header a:hover {
  background-color: #fff;
  color: #392b75;
}
.under-header button {
  color: #fff;
  font-size: 20px;
  border: none;
  background: none;
  cursor: pointer;
  margin: 10px 0 0 0;
}
.under-header button:hover {
  color: #f50057;
}

.main-content {
  position: relative;
  z-index: 1;
  margin-top: -30px;
  border-radius: 30px 30px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50vh;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  color: black;
  background-color: white;
  padding: 60px;
}
.main-content .card {
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.18);
}
.main-content .card h1 {
  text-align: center;
  margin-bottom: 20px;
}
.main-content .card input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.main-content .card button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #2fda56;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.main-content .card button:hover {
  background-color: #f50057;
}
.main-content .card p {
  margin-top: 20px;
  text-align: center;
}

/*login html*/
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  color: black;
  background-color: #ffffff;
  flex-direction: column;
}

.register {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  color: black;
  background-color: #ffffff;
  flex-direction: column;
}

.form {
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.18);
}
.form h1 {
  text-align: center;
  margin-bottom: 20px;
}
.form input {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.form button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #2fda56;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.form button:hover {
  background-color: #f50057;
}
.form p {
  margin-top: 20px;
  text-align: center;
}

/*dashboard.html*/
#userBoardList {
  display: flex;
  flex-direction: row;
  gap: 30px;
  overflow-x: auto;
  white-space: nowrap;
  /* WebKit browsers */
  scrollbar-width: none;
  scrollbar-color: #888 #f1f1f1;
}
#userBoardList::-webkit-scrollbar {
  height: 12px;
}
#userBoardList::-webkit-scrollbar-track {
  background: #f1f1f1;
}
#userBoardList::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
#userBoardList::-webkit-scrollbar-thumb:hover {
  background: #555;
}
#userBoardList li {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.18);
  list-style: none;
  width: 400px;
  max-height: 400px;
  position: relative;
  color: black;
  overflow: hidden;
  margin-left: 20px;
  margin-right: 20px;
  display: inline-block;
  flex-shrink: 0;
}
#userBoardList li .header-container {
  position: relative;
  height: 200px;
}
#userBoardList li .header-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}
#userBoardList li .profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid white;
  position: absolute;
  bottom: -50px;
  left: 20%;
  transform: translateX(-50%);
  background-color: white;
}
#userBoardList h2 {
  margin-top: 60px;
}

#userBoardList.active {
  cursor: grabbing;
  user-select: none;
  pointer-events: none;
}

#userBoardList.active * {
  pointer-events: none;
}

.profile-info {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.label {
  width: 100px;
  font-weight: bold;
  text-align: right;
}

.editable-box {
  border: 1px solid black;
  border-radius: 8px;
  padding: 5px;
  min-width: 200px;
  min-height: 20px;
  cursor: pointer;
  background-color: rgba(108, 108, 108, 0.5);
  color: white;
  outline: 1px solid white;
}

.editable-box:focus {
  background-color: #6c6c6c;
}

.editable-box:empty::before {
  content: "click to edit...";
  color: white;
}

/*# sourceMappingURL=style.css.map */
