@charset "UTF-8";
/*index html*/
body {
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
  background-color: #1c9437;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.18);
  font-family: "Roboto", sans-serif;
}
.header .home-buttons a {
  float: left;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  margin-left: 40px;
  transition: 0.3s;
}
.header .home-buttons a:hover {
  color: #f50057;
}
.header .user-buttons button {
  color: #fff;
  font-size: 17px;
  margin-left: 10px;
  border: none;
  background: none;
  cursor: pointer;
}
.header .user-buttons button:hover {
  color: #f50057;
}
.header .user-buttons a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  margin-left: 10px;
  transition: 0.3s;
}
.header .user-buttons a:hover {
  color: #f50057;
}

.under-header {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
}
.under-header a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  border: 1px solid #fff;
  padding: 10px 20px;
  border-radius: 5px;
  transition: 0.3s;
}
.under-header a:hover {
  background-color: #fff;
  color: #392b75;
}
.under-header button {
  color: #fff;
  font-size: 20px;
  border: none;
  background: none;
  cursor: pointer;
  margin: 10px 0 0 0;
}
.under-header button:hover {
  color: #f50057;
}

.main-content {
  position: relative;
  z-index: 1;
  margin-top: -30px;
  border-radius: 30px 30px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50vh;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  color: black;
  background-color: white;
  padding: 60px;
}
.main-content .card {
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.18);
}
.main-content .card h1 {
  text-align: center;
  margin-bottom: 20px;
}
.main-content .card input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.main-content .card button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #2fda56;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.main-content .card button:hover {
  background-color: #f50057;
}
.main-content .card p {
  margin-top: 20px;
  text-align: center;
}

/*login html*/
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  color: black;
  background-color: #ffffff;
  flex-direction: column;
}

.register {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  color: black;
  background-color: #ffffff;
  flex-direction: column;
}

.form {
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.18);
}
.form h1 {
  text-align: center;
  margin-bottom: 20px;
}
.form input {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.form button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #2fda56;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.form button:hover {
  background-color: #f50057;
}
.form p {
  margin-top: 20px;
  text-align: center;
}

/*dashboard.html*/
#boardList {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.18);
  margin: 20px;
  color: #392b75;
  list-style: none;
  font-family: "Roboto", sans-serif;
  width: 300px;
}
#boardList li {
  position: relative;
  margin-bottom: 40ßx;
}
#boardList img {
  display: block;
  max-width: 100%;
}
#boardList .header-image {
  width: 100%;
  height: 200px; /* Adjust height as needed */
  object-fit: cover;
  border-radius: 10px 10px 0 0; /* Optional: Add rounded corners to the top of the header image */
  position: relative;
  z-index: 1;
}
#boardList .profile-image {
  width: 100px; /* Adjust size as needed */
  height: 100px; /* Adjust size as needed */
  border-radius: 50%;
  border: 3px solid white; /* Optional: Add a border around the profile image */
  position: absolute;
  bottom: -50px; /* Adjust to position the profile image */
  left: 20px; /* Adjust to position the profile image */
  z-index: 2;
}

/*# sourceMappingURL=style.css.map */
