<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{board.name}}</title>
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
<div class="profile-header-container">
    <img class="header-image" src="{{board.header_image}}" alt="Header Image">
    <img class="profile-image" src="{{board.profile_image}}" alt="Profile Image">
</div>
<h1>{{board.name}}</h1>
<p>{{board.description}}</p>
<button id="joinButton">Join</button>
</body>
</html>